{% extends 'base.html' %}
{% block title %}Доля товаров в выручке{% endblock %}
{% block content %}
<h1 class="mb-4">Доля товаров в выручке</h1>
<div id="pie_products_chart" class="mb-4"></div>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{{ labels|json_script:"labels-data" }}
{{ values|json_script:"values-data" }}
<script>
    var labels = JSON.parse(document.getElementById('labels-data').textContent);
    var values = JSON.parse(document.getElementById('values-data').textContent);
    Plotly.newPlot('pie_products_chart', [{
        labels: labels,
        values: values,
        type: 'pie',
        textinfo: 'label+percent',
        insidetextorientation: 'radial'
    }], {title: 'Доля товаров в выручке'});
</script>
<a class="btn btn-secondary" href="/">Назад</a>
{% endblock %} 